<h1>Countries</h1>
<p>All countries go here!</p>
<table>
	<tfoot>
		<tr>
			<td colspan="3">
            	<%= link_to "Add Country", new_country_path %>
            </td>
        </tr>
    </tfoot>
    <tbody>
    	<% @countries.each do |country| %>
        	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            	<td class="description">
                	<h2><%= country.name %></h2>
                </td>
            </tr>
        <% end %>
   	</tbody>
</table>